.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App {
  display: flex;
  flex-direction: column;
}

.check-service-list {
  margin: 1rem;
}
.check-service-list tr:first-child td {
  border-top: none;
}
.check-service-list td:first-child {
  padding-left: 2rem;
}
.check-service-list td:last-child {
  padding-right: 2rem;
  text-align: left;
}