name: build

on:
  push:
    branches:
    - master

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
    - name: checkout master
      uses: actions/checkout@master

    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: '10.16'

    - name: install
      run: npm ci

    - name: Build
      run: npm run build
      env:
        PUBLIC_URL: https://sharkpp.github.io/amazon-price-check

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      env:
#       ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./build
